.banner-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  img {
    width: 100vw;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    user-select: none;

    // &.layer-1,
    // &.layer-1-2,
    // &.layer-2 {
    //   opacity: 0.9;
    // }
  }

  // #layer-1-2 {
  //   transform: translateY(100%);
  // }

  .container {
    position: absolute;
    width: 100vw;
    bottom: 10vh;
    left: 3vw;

    .row {
      width: 93vw;
    }
  }
}

.banner-titles,
.banner-texts {
  color: $white;
}

.banner-titles {
  margin-left: 1vw;
}

.banner-title {
  font-size: 15vw;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 75%; /* 179.481px */
  z-index: 50;
}

.banner-title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  z-index: 50;
}

.banner-subtitle {
  font-size: 1.7vw;
  font-family: "Migra";
  font-style: italic;
  font-weight: 200;
  margin-bottom: 10px;
}

.banner-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 4vw;
}
.banner-text {
  text-transform: uppercase;
  font-size: 1.5vw;
  line-height: 85%; /* 22.25px */
  text-align: right;

  i {
    font-weight: 300;
  }
}

@include breakpoint("medium") {
  .layer-background {
    height: 110vh;
  }
}

@include breakpoint("small") {
  .banner-container {
    img {
      height: 110vh;
      width: unset;
    }

    .container {
      bottom: 3vh;
    }
  }

  .banner-title {
    font-size: 120px;
  }

  .banner-subtitle {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .banner-text {
    font-size: 4.5vw;
  }

  .banner-texts {
    padding-bottom: 100px;
  }
}
