.credits-container {
  background: $white;
  color: $dark;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  max-height: 65vh;
  border-top: 3px dashed $dark;
  padding: 2vh 4vw 8vh;
  transform: translateY(110%);
  display: none;
}

.credits-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5vh;
  cursor: pointer;
  transition: transform 0.7s;

  &:hover {
    transform: rotate(161deg);
  }
}

.credits-close-bar {
  height: 2px;
  width: 100%;
  background: $dark;

  &:nth-child(1) {
    transform: translateX(50%);
    rotate: 45deg;
  }
  &:nth-child(2) {
    transform: translateX(-50%);
    rotate: -45deg;
  }
}

.credits-title {
  font-size: 20vh;
  margin-bottom: 5vh;
}

.credits-fonts-container {
  padding: 0 2vw;
}

.credits-fonts-title {
  font-family: "founders Grotesk";
  font-size: 4vh;
}

.credits-fonts {
  padding-left: 1vw;
  list-style: none;

  li {
    margin-bottom: 1vh;
  }
}

.credits-font {
  font-size: 3.5vh;
  transition: -webkit-text-stroke 1s, opacity 0.6s, letter-spacing 0.6s;
  opacity: 0.8;
  white-space: nowrap;

  &.migra {
    font-family: "migra";
  }

  &.humane {
    font-family: "humane";
    font-weight: 400;
    letter-spacing: 0.6vh;
    font-size: 4.5vh;
  }

  &:hover {
    -webkit-text-stroke: 1px $dark;
    opacity: 1;
    letter-spacing: 2vw;
  }
}

.credits-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.credits-info {
  font-size: 2.5vh;
  text-align: right;

  &:last-child {
    margin-top: 4vh;
  }

  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -2%;
      right: -5%;
      bottom: 5%;
      background: $white;
      height: 10%;
      mix-blend-mode: difference;
      transition: height 0.6s;
    }

    &:hover::after {
      height: 110%;
    }
  }
}

@include breakpoint("small") {
  .credits-info {
    font-size: 2vw;
  }
}
