header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  background: rgba($dark, 0.1);
  backdrop-filter: blur(2.5px);
  color: $white;
  padding: 16px 2vw 10px;
  border-bottom: 1px solid $white;
  font-size: 20px;
}

.header-nav-item {
  transition: 0.3s;
}

.header-nav:hover {
  .header-nav-item:not(:hover) {
    text-decoration: 1px wavy line-through rgba($dark, 0.8);
    opacity: 0.8;
    scale: 0.95;
  }

  .header-nav-item:hover {
    transform: translateY(-2px);
  }
}

.header-items {
  display: flex;
  gap: 32px;
  align-items: baseline;
}

.header-nav {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.header-name {
  font-family: "migra";
  transform-style: preserve-3d;
  transition: transform 0.4s;

  &:hover {
    transform: perspective(50px) rotateX(40deg) scale(1.05);
  }
}

.header-language {
  font-family: "founders grotesk";
  text-transform: uppercase;
}

@include breakpoint("small") {
  header {
    font-size: 16px;
  }

  .header-items {
    gap: 16px;
  }

  .header-nav {
    font-size: 18px;
  }
}
