.loader-container {
  height: 120vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: transform 1s 0.5s;
  // background: $white;
  background-image: url(/src/asset/img/loader-background.jpg?as=webp);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  clip-path: polygon(
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    90% 85%,
    80% 100%,
    70% 85%,
    60% 100%,
    50% 85%,
    40% 100%,
    30% 85%,
    20% 100%,
    10% 85%
  );

  &.hidden {
    transition: transform 1s 0.5s;
    transform: translateY(-100%);
  }
}

.loader-elem {
  position: absolute;
  mix-blend-mode: difference;
  color: $dark;
  font-size: 10vw;
  font-family: "Humane";

  white-space: nowrap;
}

@include breakpoint("small") {
  .loader-elem {
    font-size: 15vw;
  }
}
