.resume {
  background: $green;
}

.resume-box {
  border: 1px solid $white;
  padding: 2vh 2vw;
  height: 100%;
  color: $white;
  overflow: hidden;
}

.resume-box {
  display: flex;
  &.contact,
  &.software {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
  }
  &.title,
  &.skills,
  &.languages {
    flex-direction: column;

    justify-content: flex-end;
  }

  &.about {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &.experiences,
  &.education,
  &.reference {
    flex-direction: column;
    justify-content: space-between;
  }
}

.resume-contact {
  font-family: "Founders Grotesk";
  font-size: 2vw;
  font-style: italic;
  font-weight: 500;
  line-height: 74.166%;
  text-align: right;
  text-decoration: underline;
  transition: transform 1s;
}
.resume-box.contact:hover .resume-contact {
  transform: scaleY(2) translateY(-25%);
}

.resume-title {
  font-family: "Humane";
  font-size: 16vw;
  line-height: 50%;
  margin-top: 15vh;

  span {
    font-family: "Migra";
    font-size: 2vw;
    font-weight: 200;
    line-height: 74.166%;
  }
}

.resume-skills-title {
  font-family: "Migra";
  font-size: 2vw;
  font-weight: 800;
}

.resume-skills-list {
  font-family: "Migra";
  font-size: 1.8vw;
  font-weight: 200;
  padding-left: 2vw;
  list-style-type: square;

  i {
    font-size: 1.5vw;
  }
}

.resume-about-text {
  text-align: right;
  font-family: "Founders Grotesk";
  font-size: 2vw;
  font-weight: 300;
  line-height: 95%;
  width: 80%;
  margin-bottom: 10vh;
  white-space: 10px;

  a {
    text-decoration: underline;
    display: inline-block;
    transition: transform 0.3s;
    &:hover {
      transform: skew(-45deg);
    }
  }

  i {
    font-family: "Migra";
    font-size: 2vw;
    font-style: italic;
    font-weight: 200;
  }
}

.resume-btn {
  font-family: "humane";
  font-weight: 300;
  font-size: 6vw;
  transition: all 0.3s;
  text-decoration: underline;

  &:hover {
    letter-spacing: 10px;
    -webkit-text-stroke: 2px $white;
  }
}

.resume.page {
  .resume-about-text {
    padding-top: 20vh;
    margin-bottom: 2vh;
  }

  .resume-title {
    padding: 10vh 0 1vh;
  }
}

.resume-experiences-title {
  text-align: right;
  font-size: 16vw;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 148.332px */
  text-transform: uppercase;
}

.resume-experiences-container {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.resume-experiences-texts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.resume-experiences-topics {
  display: flex;
  gap: 0.5vw;
  align-items: last baseline;
}

.resume-experiences-time {
  font-family: "Migra";
  font-size: 1.8vw;
  font-weight: 800;
  line-height: 74.166%; /* 17.8px */
  text-transform: uppercase;
  margin-bottom: 5px;
}

.resume-experiences-topic {
  font-size: 2vw;
  font-weight: 300;
}

.resume-experiences-type {
  font-size: 1.4vw;
  font-style: italic;
  font-weight: 300;
}

.resume-experiences-place {
  font-family: "Migra";
  font-size: 1.8vw;
  font-style: italic;
  font-weight: 200;
}
.resume-experiences-underline {
  height: 2px;
  background: $white;
  transform: translateY(-300%);
}

.resume-software-title {
  font-size: 6vw;
  font-weight: 400;
  line-height: 90%; /* 59.333px */
  text-transform: uppercase;
}

.resume-softwares {
  padding-top: 10vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.7vh;
  margin-bottom: 1vh;
  font-family: "Migra";
  font-size: 2.2vw;
  font-weight: 200;
  line-height: 90%; /* 23.733px */
}

.resume-language-container {
  display: flex;
  align-items: baseline;
  gap: 0.5vw;
}

.resume-language {
  font-family: "Humane";
  font-size: 3vw;
  font-weight: 600;
  line-height: 90%; /* 26.7px */
  text-transform: uppercase;
  margin-top: 2vh;
  letter-spacing: 0.1vw;
}

.resume-language-level {
  font-family: "Migra";
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 200;
  line-height: 90%;
}

.resume-education-title {
  align-self: flex-end;
  font-family: "Migra";
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10vh;
}

.resume-education-time {
  margin: 3vh 0 1vh;
  font-family: "Migra";
  font-size: 1.5vw;
  font-weight: 800;
  line-height: 90%; /* 17.8px */
  text-transform: uppercase;
}

.resume-education-texts {
  display: flex;
  gap: 0.5vw;
  font-family: "Founders Grotesk";
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 74.166%; /* 17.8px */
}

.resume-education-place {
  font-style: italic;
  font-family: "Migra";
  font-weight: 300;
}

.resume-ref-texts {
  display: flex;
  gap: 0.5vw;
  align-items: baseline;
  width: fit-content;
  &.first {
    gap: 0;
    transition: gap 0.4s 0.3s;
  }
}

.resume-ref {
  font-family: "Migra";
  font-size: 2vw;
  font-weight: 800;
  line-height: 90%; /* 23.733px */
}

.resume-ref-role {
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 300;
}

.resume-ref-mail {
  font-family: "Migra";
  font-size: 1.4vw;
  font-weight: 200;
  margin-bottom: 0.5vh;
  transition: transform 0.6s;
}

.resume-ref-title {
  font-family: "Founders Grotesk";
  -webkit-text-stroke: 1.3px $white;
  color: rgba($white, 0);
  font-size: 3vw;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.resume-ref-cta {
  max-width: 0;
  overflow: hidden;
  // order: 1;
  transition: max-width 0.8s;
  font-family: "Migra";
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 200;
  transform: skewX(-20deg);
}

.resume-ref-container {
  width: fit-content;
  display: block;
  position: relative;
  // background: $green;
  z-index: 2;
  padding: 5px 5px 0;
  transform: translateY(10%);
  &::before {
    content: "";
    position: absolute;
    top: -0.5vh;
    bottom: -0.5vh;
    left: -0.5vh;
    right: -0.5vh;
    border: 2px solid $white;
    background: $dark;
    mix-blend-mode: exclusion;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: bottom;
    transition: transform 0.6s, opacity 0.4s;
  }

  &:hover {
    .resume-ref-texts.first {
      gap: 0.3vw;
    }
    .resume-ref-cta {
      // order: 0;
      max-width: 5vw;
      transition: max-width 0.8s 0.2s;
    }

    .resume-ref-mail {
      transform: skewX(-20deg);
      transition: transform 0.6s 0.2s;
    }
    &::before {
      transition: transform 0.4s, opacity 0.8s;
      transform: scaleY(100%);
      opacity: 1;
    }
  }
}

@include breakpoint("small") {
  .resume-box {
    padding: 16px;
  }

  .resume-btn {
    font-size: 60px;

    &:hover {
      letter-spacing: 5px;
      -webkit-text-stroke: 2px $white;
    }
  }

  .resume-about-text {
    font-size: 1.2rem;
    width: 88vw;
    i {
      font-size: 1.3rem;
    }
  }
  .resume-title {
    font-size: 120px;
    span {
      font-size: 1.2rem;
    }

    &.fr {
      font-size: 70px;

      span {
        font-size: 0.8rem;
      }
    }
  }

  .resume-skills-list {
    font-size: 1.5rem;
    margin-left: 32px;
    i {
      font-size: 1.2rem;
    }
  }

  .resume-skills-title {
    font-size: 26px;
  }

  .resume-experiences-title {
    font-size: 32vw;
  }
  .resume-experiences-time {
    font-size: 1.1rem;
  }
  .resume-experiences-topic {
    font-size: 1.4rem;
    line-height: 94%;
    margin-bottom: 5px;
  }
  .resume-experiences-type {
    font-size: 1rem;
  }
  .resume-experiences-place {
    font-size: 1rem;
  }

  .resume-softwares {
    font-size: 1.5rem;
  }

  .resume-software-title {
    position: absolute;
    top: 10vh;
    left: 16px;
    font-size: 90px;
    font-weight: 700;
  }

  .resume-language-container {
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 2vh;
    }
  }

  .resume-language {
    font-size: 4rem;
  }

  .resume-language-level,
  .resume-education-time,
  .resume-education-place {
    font-size: 1.3rem;
  }

  .resume-education-title {
    font-size: 1.4rem;
  }

  .resume-education-texts {
    font-size: 1.4rem;
    flex-direction: column;
  }

  .resume-ref-title {
    font-size: 2.4rem;
  }

  .resume-ref {
    font-size: 1.6rem;
  }

  .resume-ref-cta {
    font-size: 2rem;
  }

  .resume-ref-texts:not(.first) {
    flex-direction: column;
  }

  .resume-ref-role {
    font-size: 1.2rem;
  }

  .resume-ref-mail {
    font-size: 1.2rem;
    text-decoration: underline 0.7px;
  }
}
