.selected-detail-container {
  background: $dark;
  color: $white;
  padding: 60px 3vw 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 75vw;
  overflow-y: scroll;
  transform: translateX(100%);
  display: none;
  z-index: 8;
  overflow-x: hidden;
}

.selected-detail-close {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6vw;
  right: 3vw;
  border: 1px solid $white;
  background: rgba($white, 0.15);
  height: 45px;
  width: 45px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  transform: translateX(400px);
  z-index: 15;

  .selected-detail-close-bar {
    background: $white;
    height: 4px;
    width: 35px;
    transform-origin: center center;

    &:nth-child(1) {
      transform: translateX(50%);
      rotate: 45deg;
    }
    &:nth-child(2) {
      transform: translateX(-50%);
      rotate: -45deg;
    }
  }

  &:hover {
    background: rgba($white, 0.25);
    box-shadow: 0 0 10px 2px rgba($white, 0.5);
    transform: rotate(90deg);
  }
}

.selected-detail-close-map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(29, 31, 29, 0.15);
  backdrop-filter: blur(0.6px);
  z-index: 5;
  display: none;
  opacity: 0;
  cursor: pointer;
}

.selected-detail-row {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.selected-detail-title {
  font-size: 35vw;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 105%;
}

.selected-detail-title-container {
  .selected-detail-title {
    font-size: 25vw;
    line-height: 120%;
  }
}

.selected-detail-container.mirage .selected-detail-title {
  font-size: 28vw;
}

.selected-detail-embed {
  width: 100%;
  aspect-ratio: 16/10;
}

.selected-detail-img {
  margin-top: 40px;
  width: 100%;

  &.window-height {
    height: 93vh;
    object-fit: contain;
  }
}

.selected-detail-container .row > * {
  margin: 20px 0;

  &.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  img {
    width: 100%;
  }
  .selected-detail-right {
    width: 80%;
  }
}

.selected-detail-text {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 12px;
  i,
  a {
    font-family: "Migra";
  }

  a {
    text-decoration: underline;
    font-style: italic;
  }
}

.selected-detail-credits {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: wavy overline underline;
    }
  }
}

.selected-detail-last-cta {
  margin: auto;
  display: block;
  font-size: 4vw;
  font-family: "humane";
  font-weight: 600;
  margin-top: 5vh;
  letter-spacing: 0.2vw;

  span {
    text-decoration: underline;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    display: block;
  }

  &:hover span {
    transform: rotateY(360deg) rotateZ(-360deg);

    color: red;
  }
}

.selected-detail-topics {
  font-size: 32px;
  text-transform: uppercase;
  opacity: 0.95;
  font-weight: 500;
  display: flex;
  gap: 2vw;
  margin-bottom: 20px;
}
.selected-detail-tools {
  text-align: right;
  list-style: none;
  font-style: italic;
  font-family: "migra";
  font-size: 24px;
}

.selected-detail-tool {
  margin-bottom: 6px;
}

.selected-detail-main-link {
  display: flex;
  gap: 16px;
  align-items: last baseline;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7vw;
    height: 2px;
    background: $white;
    transform: translateX(-110%);
    transition: transform 0.3s 0.1s;
  }
}

.selected-detail-arrow {
  fill: $white;
  width: 4vw;
  transition: rotate 0.3s 0.1s;
}

.selected-detail-main-link-cta-container {
  overflow: hidden;
}

.selected-detail-main-link-cta {
  font-family: "migra";
  font-style: italic;
  font-size: 2vw;
  transform: translateX(-110%);
  transition: transform 0.4s;
}

.selected-detail-main-link:hover {
  .selected-detail-arrow {
    rotate: 45deg;
  }

  .selected-detail-main-link-cta {
    transform: translateX(0);
  }

  &::after {
    transform: translateX(0);
  }
}

@include breakpoint("small") {
  .selected-detail-container {
    width: 90vw;
  }
  .selected-detail-arrow {
    rotate: 45deg;
  }

  .selected-detail-main-link-cta {
    transform: translateX(0);
    font-size: 16px;
  }

  .selected-detail-main-link {
    gap: 8px;
    &::after {
      transform: translateX(0);
    }
  }

  .selected-detail-text {
    font-size: 18px;
  }
  .selected-detail-row {
    flex-direction: column;
  }

  .selected-detail-container .row > * {
    margin: 20px 0 0;
  }

  .selected-detail-img {
    margin: 0;
  }
}
