.selected-background {
  min-width: 100vw;
  height: 100vh;
  top: 0;
  pointer-events: none;

  z-index: 5;
  position: fixed;
  background-image: url("../asset/img/forest-desktop.png");
  background-position: center center;
  background-size: cover;
}

.parallax-container {
  height: 100vh;
}

.selected-work {
  display: flex;
  padding: 12px 2vw;
  justify-content: space-between;
}

.selected-work-topics {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.selected-works {
  color: $white;
  position: fixed;
  bottom: 20px;
  left: 5vw;
  z-index: 6;
}

@include breakpoint("small") {
  .selected-background {
    background-image: url("../asset/img/forest-mobile.png");
  }
}
