* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

p,
a {
  font-family: "Founders Grotesk";
}

h1,
h2,
h3 {
  font-family: "humane";
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

body.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background: $dark;
}

*::selection {
  background: $dark;
  color: $white;
}
