// MIGRA
@font-face {
  font-family: "Migra";
  src: url("../asset/font/migra/Migra-Extralight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Migra";
  src: url("../asset/font/migra/MigraItalic-ExtralightItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Migra";
  src: url("../asset/font/migra/Migra-Extrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Migra";
  src: url("../asset/font/migra/MigraItalic-ExtraboldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

// HUMANE
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-Thin.woff2) format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Humane";
  src: url(../asset/font/humane/Humane-ExtraLight.woff2) format("woff2");
  font-weight: 200;
}

// FOUNDERS GROTESK
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-RegularItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-Semibold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-SemiboldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../asset/font/founders_grotesk/FoundersGrotesk-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}
