$white: #ffffff;
$dark: #0f0f0f;
$green: #1e975c;

@mixin breakpoint($size) {
  @if $size == "small" {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size == "medium" {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $size== "big" {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
